<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">
      /*body {
        background: #fff708;
        background: linear-gradient(to right, #fff708, #33AEFF);
      }*/
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    
    <title>ML Project</title>
  </head>
  <body>
    <style type="text/css">
      body {
        /*background: #fff708;*/
        background: linear-gradient(to left, #ddccee, #33AEFF);
      }
    </style>
     
    <nav class="navbar navbar-dark bg-secondary">
      <a class="navbar-brand text-center" href="#">Predicting Enrollment</a>
    </nav>
    <div class="container">
      
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 card shadow p-3 mb-5 bg-white rounded mt-5">
           <div class="Predicting" style="color:red">
          {{ prediction_text }}
        </div>
          <form class="text-center border border-light p-5" action="{{ url_for('predict')}} "method="post">
            <p class="h4 mb-4">Enter photoname</p>

             <label>Fall</label>
             <select name="fall" class="browser-default custom-select mb-4">
               <option value="data/abc.jpg">August</option>
               <option value="data/puppy-dog.jpg">InterSem</option>
               <option value="data/abc.jpg">January</option>
             </select>



            <button class="btn btn-secondary btn-block" type="submit">Predict Enrollment</button>

        </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>